<%- if(RAILS_ENV == 'development')
      submit_url = Spree::Paypal::Config[:sandbox_url]
    else
      submit_url = Spree::Paypal::Config[:paypal_url]
    end
%>
<h3>Pay using PayPal</h3>
<%= form_tag submit_url do %> 

<%- if(Spree::Paypal::Config[:encryption]) %>
  <%= hidden_field_tag(:cmd, "_s-xclick") %>
  <%= hidden_field_tag(:encrypted, @order.paypal_encrypted(payment_notifications_url(:secret => Spree::Paypal::Config[:ipn_secret]), {:currency_code => Currency.current.char_code})) %>
<% else %>
  <p>this shouldn't show, possible security breach</p>
<% end %>

  <%= image_submit_tag "pp_checkout.gif" %>
  <p>(click the image above to pay using PayPal Website Payments)</p>

<% end -%>
<hr class="space" />


<%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>

  <fieldset id="payment">
    <h3>Other payment methods</h3>
    <%= hook :checkout_payment_step, {:form => form} do %>
      <% @order.available_payment_methods.select{|pm| !(pm.name =~ /paypal/i)}.each do |method| %>
      <p>
        <label>
          <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
          <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
        </label>
      </p>
      <% end %>
  
      <br style='clear:both;' />
    <% end %>
  </fieldset>
  
  <div class="form-buttons">
    <input type="submit" class="continue button primary" value="continue with other" />
  </div>
  
  <input id="post-final" type="submit" style="display:none"/>
<% end %>
